<div>
	<h1><%= transaction.id%></h1>
	Catalog ID - <%= transaction.catalog%>
	<br>
	Type - <%= transaction.type%>
	<br>
	Price - Rs. <%= transaction.price%>
	<br>
	Quantity - Rs. <%= transaction.quantity%>
</div>