<div>
	<h1><%= catalogItem.id%></h1>
	User ID - <%= catalogItem.user%>
	<br>
	Book ID - <%= catalogItem.book%>
	<br>
	Quantity - <%= catalogItem.quantity%>
	<br>
	Selling Price - Rs. <%= catalogItem.sellingPrice%>
	<br>
	Cost Price - Rs. <%= catalogItem.costPrice%>
</div>